body{
  line-height: 1.7;
  font: 15px/1.7,arial,helvita,san-serif;
  margin: 0;

}

.nav-bar hr {
  width: 600px;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
}
.logo {
   height: 80px;
   margin-left: 50px;
}


.nav-bar {
    float: right;
    list-style: none;
    margin-top: 20px;

}

.nav-bar li{
    display: inline-block;
    margin-left: 40px;
    padding-right: 40px;

}


.nav-bar li a:link,
.nav-bar li a:visited{
    padding: 5px 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;

}

.nav-bar li a:hover,
.nav-bar li a:active{
    border-bottom: 2px solid #e67e22;
    padding-bottom: 12px;

}

.hero-section{
    background-color: #D3D3D3;
}

.row {
  padding: 70px;
}
.hero-img {
  height: 350px;
  float: left;
  margin-right: 50px;
}

.hero-text {
   padding-top: 50px;
}


.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding:10px 30px;
    display: inline-block;
    border-radius: 10px;
    transition: all .2s;

    font-size: 15px;
    color: white;
    background-color: purple;
}



#boxes {
  margin-top: 20px;

}

#boxes .box img {
  width: 90px;
}

#boxes .box hr {
  width: 270px;
}
#boxes .box {
  float: left;
  text-align: center;
  width:25%;
}


#plan-boxes {
  margin-top: 20px;

}



.plan-img{
  width: 225px;
}


.plan-box {
  float: left;
  width:15%;
  padding: 20px;
}


.footer{
  background-color: red;
}

.footer-box{
  float: left;
  width: 220px;
}
